body{
    background-color: lightgoldenrodyellow;
    margin:12px 12px 9px 9px;
    font-weight: bolder;

}
footer{
    cursor: crosshair;
}
@media screen and (max-width:600px) {
    body{
        font-weight: lighter;
        text-align: justify;
    }
    
}