body{
    margin: 0;
}
h1{
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    border:5px red solid;
    padding-left: 90px;
    padding: 30px 50px 70px 90px;
}

/*margin*/
h3{
    padding:100px;
    width:150px;
    height:100px;
    box-sizing: content-box;
    border:5px cyan solid;
}