/*selecting based on html tag*/
h2{
    background-color: green;
    color:white;
}

h3{
    background-color: blue;
    
}
/*grouping of elements */
h1,h3{
    color:white;
}
ul li{
    color: red;
}
/*selecting parent child*/
ul>li{
    color: blue;
}
li{
    color: green;
}
/*selecting class element*/
.item{
    color:pink;
}

/*selecting by id*/
#list-item
{
    color:aqua;
}
/*selecting by type*/

input[type="email"]{
    background-color: yellowgreen;
}


