/*Descentant by space*/
section p
{
    color : red;

}
section > p{
    color: orange;
}
/*Adjacent sibling + select all immediate element*/
/*selects immediately following siblings of specified element*/
h1 + p{
    color: yellow;
background-color: blue;
}
/*selects all siblings placed after specified element*/
h1~p{
    background-color: purple;
}

/**h1 > p{
    background-color: antiquewhite;
}