@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
body {
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-height: 100vh;
}
.header {
  margin: 0 auto;
  max-width: 960px;
}
.bg {
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  overflow: hidden;
}
.box1 {
  background: hsl(31, 77%, 52%);
}
.box2 {
  background: hsl(184, 100%, 22%);
}
.box3 {
  background: hsl(179, 100%, 13%);
}
.box {
  padding: 40px;
}
.box h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 30px;
  text-transform: uppercase;
}
.box p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}
.box a {
  background-color: hsl(0, 0%, 100%);
  border-radius: 26px;
  border: 2px solid hsl(0, 0%, 100%);
  display: inline-block;
  margin-top: 60px;
  padding: 13px 27px;
  text-decoration: none;
}
.box1 a {
  color: hsl(31, 77%, 52%);
}
.box2 a {
  color: hsl(184, 100%, 22%);
}
.box3 a {
  color: hsl(179, 100%, 13%);
}
.box a:hover {
  background: transparent;
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 616px) {
  .bg {
    grid-template-columns: 1fr;
  }
}
/* @media only screen and (max-width: 425px) { */
.bg {
  margin: 2rem 0.5rem;
}
/* } */
.box,
.a {
  align-items: center;
  text-align: center;
}
