* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
header {
  height: auto;
  padding: 30px;
  position: absolute;
  width: 100%;
}
header img {
  width: 150px;
}
.container {
  align-items: center;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  min-height: 100vh;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 100%;
}
.container .left {
  padding: 50px 30px 0 30px;
  width: 100%;
}
.container .right {
  background-image: url(../images/hero-mobile.jpg);
  background-size: cover;
  height: 300px;
  width: 100%;
}
.container .right img {
  height: 100%;
  width: 100%;
}
.container .left h1 {
  color: hsl(0, 36%, 70%);
  font-size: 3.2rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}
.container .left h1 span {
  color: hsl(0, 6%, 24%);
  font-weight: 700;
}
.container .left p {
  color: hsl(0, 36%, 70%);
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 20px auto 40px auto;
  max-width: 450px;
  text-align: center;
}
.container form {
  display: block;
  height: 50px;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  width: 100%;
}
.container form input {
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  height: 100%;
  outline: none;
  padding-left: 30px;
  position: absolute;
  width: 100%;
}
.container form label {
  position: absolute;
  visibility: hidden;
}
.container form button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 18px 1px #f4aaab82;
  color: white;
  cursor: pointer;
  height: 100%;
  outline: none;
  position: absolute;
  right: 0;
  transition: 0.3s ease box-shadow;
  width: 70px;
}
.container form button:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsla(0, 52%, 80%, 0.781)
  );
  box-shadow: 0px 0px 13px 2px #f4aaabbf;
}
.container form input::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  opacity: 0.8;
}
.container form .error-icon {
  display: inline-block;
  display: none;
  position: absolute;
  right: 85px;
  top: 24%;
}
.container form .error-text {
  display: none;
  font-size: 1rem;
  left: 30px;
  position: absolute;
  top: 40px;
}
.container form.error .error-icon,
.container form.error .error-text {
  display: block;
}
.container form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}
footer {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: aqua;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  header {
    padding-left: 10%;
  }
  .container {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
  }
  .container .right {
    background-image: url(../images/baseapparel/hero-desktop.jpg);
    width: 80%;
    height: 90vh;
  }

  .container .left {
    background-image: url(../images/baseapparel/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 10%;
    padding-top: 28vh;
    width: 100%;
  }
  .container .left h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    text-align: left;
  }
  .container .left p {
    font-size: 1.1rem;
    margin-left: 0;
    text-align: left;
  }
  .container form {
    margin-left: 0;
  }
  .container form button {
    width: 80px;
  }
}
