body {
  background-color: hsl(210, 46%, 95%);
  background-image: url(https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-top: 20px;
  text-align: center;
}
li {
  color: black;
}
header {
  align-items: center;
}
nav {
  text-align: center;
}
li {
  color: gold;
  display: inline;
  padding-left: 20px;
  text-transform: none;
}
a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: cyan;
}
header {
  color: white;
}
p {
  color: white;
}
button {
  background-color: purple;
  border-radius: 25px;
  border: 2px solid gold;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
button:hover {
  background-color: brown;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media (max-width: 500px) {
  .button {
    align-items: center;
    margin: 30px 20px 30px 60px;
    overflow: auto;
    width: 250px;
  }
  body {
    height: 812px;
    max-width: 812px;
  }
  .li {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
