:root {
  --cta-text: hsl(226, 100%, 87%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --empty-slider: hsl(224, 65%, 95%);
  --full-slider: hsl(174, 77%, 80%);
  --header-text: hsl(227, 35%, 25%);
  --main-bg: hsl(230, 100%, 99%);
  --pricing-bg: hsl(0, 0%, 100%);
  --slider-bg: hsl(174, 86%, 45%);
  --text: hsl(225, 20%, 60%);
  --toggle-button-bg: hsl(223, 50%, 87%);
}
body {
  align-items: center;
  background-color: var(--main-bg);
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 75px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.header {
  align-items: center;
  background-image: url(./images/pattern-circles.svg);
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: center;
}
.header h1 {
  color: var(--header-text);
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 50px;
}
.header p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7em;
  margin-top: 10px;
  padding-top: 0px;
}
.container {
  background-color: var(--pricing-bg);
  border-radius: 10px;
  box-shadow: 0px 15px 15px 0px var(--empty-slider);
  min-width: 375px;
}
.pageviews {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 45px;
  text-transform: uppercase;
}
.slider-container {
  margin: 45px auto;
}
.slider {
  -webkit-appearance: none;
  background: var(--empty-slider);
  border-radius: 5px;
  height: 10px;
  outline: none;
  width: 85%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--slider-bg);
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background: url(./images/icon-slider.svg);
  border-radius: 50%;
  border: none;
  box-shadow: 0 15px 15px 2px var(--full-slider);
  cursor: pointer;
  height: 47px;
  transition: 0.4s;
  width: 47px;
}
.slider::-webkit-slider-thumb:hover {
  background-color: var(--full-slider);
}
.slider::-moz-range-thumb {
  background-color: var(--slider-bg);
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background: url(./images/icon-slider.svg);
  border-radius: 50%;
  border: none;
  box-shadow: 0 20px 20px 8px var(--full-slider);
  cursor: pointer;
  height: 47px;
  transition: 0.4s;
  width: 47px;
}
.slider::-moz-range-thumb:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.slider::-moz-range-progress {
  background: var(--full-slider);
  border-radius: 5px;
  height: 10px;
}
.price-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.price {
  color: var(--header-text);
  font-size: 36px;
  font-weight: 800;
}
.price-month {
  font-size: 16px;
}
.switch-container {
  display: grid;
  font-size: 14px;
  grid-template-areas: "left center right";
  grid-template-columns: 40% 20% 40%;
  margin: 40px auto;
}
.grid-left {
  grid-area: left;
  text-align: right;
}
.grid-center {
  grid-area: center;
}
.grid-right {
  grid-area: right;
  text-align: left;
}
.discount {
  background-color: var(--discount-bg);
  border-radius: 20px;
  color: var(--discount-text);
  display: inline-block;
  font-size: 11px;
  font-weight: 800;
  margin-left: 4px;
  padding: 3px 6px;
}
/* The switch - the box around the toggle */
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
}
/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}
/* toggle */
.toggle {
  -webkit-transition: 0.4s;
  background-color: var(--toggle-button-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.toggle:before {
  -webkit-transition: 0.4s;
  background-color: var(--main-bg);
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
input:checked + .toggle {
  background-color: var(--slider-bg);
  transition: 0.4s;
}
input:hover + .toggle {
  background-color: var(--full-slider);
  transition: 0.4s;
}
input:checked + .toggle:before {
  -ms-transform: translateX(24px);
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}
/* Rounded toggle */
.toggle.round {
  border-radius: 19px;
}
.toggle.round:before {
  border-radius: 50%;
}
hr {
  background-color: var(--empty-slider);
  border: none;
  color: var(--empty-slider);
  height: 1px;
}
.ticks {
  font-size: 14px;
  margin: 25px auto 35px auto;
}
.ticks p::before {
  background-repeat: no-repeat;
  background-size: cover;
  background: url(./images/icon-check.svg);
  border: none;
  content: "";
  display: inline-block;
  height: 10px;
  margin-bottom: 0;
  margin-right: 15px;
  padding-bottom: 0;
  width: 10px;
}
button {
  background-color: var(--header-text);
  border-radius: 50px;
  border: none;
  color: var(--cta-text);
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 38px;
  padding: 15px 55px;
}
button:hover {
  color: var(--pricing-bg);
}
.attribution {
  bottom: 5px;
  font-size: 11px;
  margin: 75px auto 10px auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 700px) {
  .header p {
    max-width: 22ch;
  }
  .discount-big {
    display: none;
  }
}
@media (min-width: 701px) {
  .container {
    min-width: 600px;
  }
  .discount-small {
    display: none;
  }
  .ticks-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ticks {
    margin: 25px auto 25px 50px;
    text-align: left;
    width: 300px;
  }
  button {
    margin: 0;
  }
  .button {
    width: 300px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 100px;

    grid-template-areas:
      "a b"
      "c c";
  }
  .pageviews {
    grid-area: a;
  }
  .price-container {
    grid-area: b;
    padding-top: 24px;
  }
  .slider-container {
    grid-area: c;
    width: 100%;
  }
}
