:root {
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --gray-border: rgb(224, 214, 214);
  --grayish-blue: hsl(246, 25%, 77%);
  --green-border: hsl(154, 49%, 45%);
  --green: hsl(154, 59%, 51%);
  --red: hsl(0, 100%, 74%);
  --shadow-red: hsl(0, 56%, 61%);
}
body {
  align-items: center;
  background-size: cover;
  background: url("../images/bg-intro-mobile.png") no-repeat;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
}
.page-container {
  background: rgba(255, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  min-width: 350px;
  padding: 0 1rem;
  width: 100%;
}
.header {
  color: white;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.1rem;
  margin-top: 5rem;
  white-space: pre-line;
}
p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 4rem;
  margin: 0;
  padding: 0;
}
.btn-action {
  background: var(--blue);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 7px 2px 0px var(--shadow-red);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
  width: 100%;
}
.btn-action span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0 3rem;
}
form {
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 2px 0px var(--shadow-red);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
}
input:first-of-type {
  margin-top: 1.5rem;
}
input {
  border-radius: 0.2rem;
  border: 1px solid var(--gray-border);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 85%;
}
input:focus {
  border: 1px solid black;
}
.btn-submit {
  background: var(--green);
  border: none;
  box-shadow: 0px 1px 1px 3px var(--green-border);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 85%;
}
form p {
  color: var(--grayish-blue);
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
}
form a {
  color: var(--red);
  font-weight: 700;
}
.error {
  background-position: 95% center;
  background-size: 1.5rem 1.5rem;
  background: url("../images/icon-error.svg") no-repeat;
}
.form-error {
  box-sizing: border-box;
  color: var(--red);
  display: none;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.3rem;
  text-align: end;
  width: 85%;
}
@media screen and (min-width: 720px) {
  body {
    background-clip: border-box;
    background-repeat: repeat;
    background-size: auto 50rem;
    overflow: hidden;
  }
  .page-container {
    align-items: center;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
  }
  .header {
    max-width: 30rem;
    padding-right: 1rem;
    text-align: left;
    width: 49%;
  }
  .forms-container {
    align-items: flex-start;
    max-width: 35rem;
    width: 49%;
  }
  form {
    padding: 1rem 0;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
}
