* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100vh;
  overflow: hidden;
  padding: 50px;
  margin-bottom: 100px;

  grid-template-areas:
    "top middle"
    "bottom middle";
}
.wrapper-text {
  align-items: flex-end;
  background-image: url("../images/pattern-quotes.svg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  display: grid;
  grid-area: top;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.text {
  color: hsl(240, 38%, 20%);
  font-size: 32px;
  font-weight: 300;
  left: 200px;
  position: relative;
  transition: 0.5s;
}
.text-one {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.text-two {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.slide-left {
  transform: translateX(-1000%);
}
.slide-right {
  transform: translateX(1000%);
}
.text-title {
  font-size: 0.7em;
  font-weight: 700;
  padding-top: 30px;
}
.text-title_position {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}
.wrapper-photo {
  align-items: center;
  background-clip: content-box;
  background-image: url("../images/slider/pattern-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  grid-area: middle;
  justify-content: center;
  margin-bottom: 50px;
}
.wrapper-photo-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.photo {
  height: auto;
  max-width: 480px;
  padding-top: 70px;
  transition: 0.5s;
  width: 100%;
}
.photo-one {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.photo-two {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
}
.slider-visible,
.slider-invisible {
  align-items: center;
  border-radius: 2.5rem;
  bottom: 20px;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 60px;
  justify-content: space-around;
  position: relative;
  right: 100px;
  width: 130px;
}
.slider-visible {
  background-color: white;
}
.slider-invisible {
  box-shadow: 0px 0px 120px 15px rgba(32, 32, 70, 0.69);
  z-index: -1;
}
.slider-item-prev:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slider-item-next:hover {
  cursor: pointer;
  opacity: 0.7;
}
.wrapper-bottom {
  background-image: url("../images/slider/pattern-curve.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  grid-area: bottom;
}
footer {
  margin: 10px 10px;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .photo {
    height: auto;
    max-width: 400px;
    width: 100%;
  }
  .text {
    left: 150px;
  }
  .wrapper {
    height: auto;
    margin: 20px;
    padding: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-areas: "top" "middle" "bottom";
    grid-template-columns: auto;
    grid-template-rows: auto auto 100px;
    margin: 0px;
  }
  .text {
    position: static;
  }
  .wrapper-photo {
    grid-area: top;
    margin: 20px 0;
  }
  .photo {
    height: auto;
    max-width: 330px;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 100%;
  }
  .wrapper-text {
    background-position: 50% 10%;
    background-size: 4em;
    grid-area: middle;
    margin: 0 30px;
  }
  .text {
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center;
  }
  .wrapper-bottom {
    background-image: url("../images/slider/pattern-curve.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    grid-area: bottom;
  }
  .slider-visible,
  .slider-invisible {
    align-items: center;
    border-radius: 2.5rem;
    bottom: 30px;
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 50px;
    justify-content: space-around;
    position: relative;
    right: 0px;
    width: 100px;
  }
  .text-title {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .wrapper-bottom {
    background-size: 70%;
  }
  .wrapper-photo {
    margin: 5px 0;
  }
}
