* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
:root {
  --dark-black-blue: hsl(219, 29%, 14%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --light-gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --violet: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--light-gray-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  margin-bottom: 100px;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px 30px;
  grid-template-areas:
    ". . . . . ."
    ". daniel daniel jonathan kira ."
    ". jeanette patrick patrick kira .";

  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr 1fr;
}

.grid {
  box-shadow: 10px 10px 21px 8px rgba(74, 74, 74, 0.18);
  -moz-box-shadow: 10px 10px 21px 8px rgba(74, 74, 74, 0.18);
  -webkit-box-shadow: 10px 10px 21px 8px rgba(74, 74, 74, 0.18);
}

.grid-1,
.grid-2,
.grid-5 {
  color: var(--White);
}
.quotation {
  background-blend-mode: lighten;
  background-position: 75% 0%;
  background: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
}

.grid-1 {
  background-color: var(--violet);
  grid-area: daniel;
}

.grid-2 {
  background-color: var(--dark-gray-blue);
  grid-area: jonathan;
}

.grid-3 {
  background-color: var(--White);
  grid-area: kira;
}

.grid-4 {
  background-color: var(--White);
  grid-area: jeanette;
}

.grid-5 {
  background-color: var(--dark-black-blue);
  grid-area: patrick;
}

.profile {
  align-items: center;
  display: flex;
}

.avatar {
  border-radius: 50%;
  height: auto;
  max-width: 20%;
}

.purple-border {
  background-color: #fff;
  border: 3px solid var(--violet);
  border-radius: 50%;
  -moz-border-radius: 50%;
  height: auto;
  -webkit-border-radius: 50%;
  width: 8%;
}

.white-border {
  background-color: #fff;
  border: 3px solid hsla(0, 0%, 70%, 0.85);
  border-radius: 50%;
  -moz-border-radius: 50%;
  height: auto;
  -webkit-border-radius: 50%;
  width: 8%;
}

.profile p {
  font-size: 13px;
  padding-left: 20px;
}

span {
  font-size: 11px;
  opacity: 50%;
}

.padding {
  border-radius: 5px;
  padding: 15px 30px;
}

.testimony {
  font-size: 2.5vh;
  line-height: 1.4;
}
.explanation {
  line-height: 1.5;
  opacity: 70%;
  padding-bottom: 15px;
}

.testimony,
.explanation {
  padding-top: 10px;
  word-spacing: 1px;
}
.object {
  position: 20px;
}
