*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #9FABB2;
    font-family:  sans-serif;
    font-size: 18px;
    margin:auto;
    max-width: 1440px;
}
h1,h2,h3,h4,h5,h6{
    color:#000000;
}
header{
    background-image: url(../../images/bg-header-desktop.png),
    linear-gradient(0deg, rgba(255,255,255,0.5324511201839882) 21%, rgba(159,171,178,0.8125814133435973) 100%);
    background-position: center center;
    background-size: cover;
    padding: 6em 0;
    text-align: center;
}
.container{
    margin: auto;
    max-width: 80%;
}
.small-container{
    margin: auto;
    max-width: 500px;
    text-align: center;
}
main .showcase{
    margin-top: -40px;
    padding-bottom: 2em;
    text-align: center;
}
.para h2{
    font-size: 2.7rem;
    font-weight: 600;
}
.para p{
    font-size: 1.4rem;
    line-height: 1.4em;
    margin: 1em auto 2em;
}
.download_btn{
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}
.one{
    background-color: hsl(171, 66%, 44%);
    box-shadow:0px 3px hsla(171, 64%, 33%, 0.789)
}
.two{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}
.keep-track{
    padding: 3em 0;
}
.keep-track>h3{
    font-size: 2.2rem;
}
.keep-track>p{
    line-height: 1.6em;
    margin: 1.2em auto 5em;
}
.lower{
    display: flex;
}
.lower-left img{
    width: 100%;
}

.feature-container{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    margin-left: 17%;
    width: 54%;
}
.feature h5{
    font-size: 1.5rem;
}
.feature p{
    line-height: 1.8em;
    margin-top: .5em;
}
.accessibility{
    padding: 3em 0;
    text-align: center;

}
.accessibility h3{
    font-size: 2.2rem;
}
.accessibility p{
    line-height: 1.6em;
    margin: 1.2em auto 5em;
}

.tools{
    padding: 1em 0 3em;
    text-align: center;
}
.tools h3{
    font-size: 2.2rem;
}
.tools>p{
    margin: 1.2em auto 3.8em;
}
.tools .container{
    display: flex;
    justify-content: space-between;
}
.tool{
    flex: 0 0 32%;
}
.tool h5{
    font-size: 1.5rem;
    margin: 1.5em 0 .5em;
}
 .tool p{
    line-height: 1.7em;
}

.brands{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5em 0;
    width: 80%;

}
.brands .brand img{
    margin: auto;
    width: 90%;
}

.install .small-container{
    max-width : 750px;
    padding: 3em 0 9em;
}
.para h3{
    font-size: 2.4rem;
    font-weight: 600;
}
.para p{
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 1em auto 2em;
}
footer{
    background-color: gray;
    padding: 2.7em 0;
}
footer .container{
    align-items: center;
    display: flex;
}
.footer-logo{
    flex: 0 0 18%;
}
.social-icons{
    flex : 0 0 14%;
}
.footer-logo img{
    width: 60px;
}
.footer-menu{
    display: flex;
    flex:1;
}
.f-menu{
    width: 25%;
}
.f-menu a{
    color: #000;
    display: block;
    line-height: 2em;
    text-decoration: none;
}

.social-icons a{
    display: block;
    float: right;
    text-align: right;
    width:33.33%;
}
.social-icons i:hover{
    color: hsl(171, 66%, 44%);
}
.f-menu a:hover{
    color:hsl(171, 66%, 44%);
}

