@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root {
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Pink: hsl(322, 100%, 66%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);

}

main {
    font-family: 'Poppins', sans-serif;
    width: 100%;

}


.box-1 {
    background-color: var(--Very-Pale-Cyan);
    background-image: url("../../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    font-size: 18px;
    height: 650px;
    width: 100%;

}

@media (max-width: 375px) {
    .box-1 {
        margin: 0;
        height: 130vh;
        background-repeat: no-repeat;
        background-image: url("../../images/bg-hero-mobile.svg");
    }
}

#logo {
    margin: 40px 0 0 40px;
}

@media (max-width: 375px) {
    #logo {
        width: 110px;
        margin: 20px 0 0 10px;
    }
}

.box-1 h1 {
    width: 500px;
    margin: 161px 0 0 40px;
    font-size: 43px;
}

@media (max-width: 375px) {
    .box-1 h1 {
        width: 80%;
        margin: 100px 10% 0 10%;
        font-size: 25px;
        text-align: center;
    }
}

.box-1 p {
    width: 570px;
    margin: 20px 0 0 40px;
}

@media (max-width: 375px) {
    .box-1 p {
        width: 90%;
        margin: 20px 5% 0 5%;
        font-size: 14.5px;
        text-align: center;
    }
}

#link-1 {
    display: flex;
    height: 55px;
    width: 300px;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--Pink);
}

#link-1:hover {
    cursor: pointer;
}

#link-1 a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media (max-width: 375px) {
    #link-1 {
        width: 65%;
        height: 40px;
        margin: 20px 20%;
    }
}

#link-2 {
    position: absolute;
    display: flex;
    top: 40px;
    left: 80%;
    height: 45px;
    width: 180px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
    background-color: white;
}

#link-2:hover {
    cursor: pointer;
}

#link-2 a {
    font-size: 14px;
    color: var(--Grayish-Blue);
    text-decoration: none;
}

@media (max-width: 375px) {
    #link-2 {
        width: 100px;
        height: 30px;
        top: 0;
        left: 58%;
    }

    #link-2 a {
        font-size: 11px;
        color: black;
    }
}

#mockup {
    position: absolute;
    top: 27%;
    left: 48%;
    width: 48%;
}

@media (max-width: 375px) {
    #mockup {
        top: 88%;
        left: 10%;
        width: 80%;
    }
}


.box-2 {
    width: 90%;
    height: 400px;
    margin: 100px auto 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

#title {
    width: 300px;
    margin: 0 0 0 100px;
    padding-top: 140px;
}

.box-2 #grow-paragraph {
    width: 500px;
    margin: 15px 0 0 100px;
    color: var(--Grayish-Blue);
}

.box-2 img {
    position: absolute;
    top: 800px;
    left: 60%;
    width: 30%;
}

@media (max-width: 375px) {
    .box-2 {
        height: 90vh;
        margin: 100px auto 0 auto;
    }

    #title {
        width: 80%;
        margin: 0 10% 0 10%;
        padding-top: 300px;
        text-align: center;
    }

    .box-2 #grow-paragraph {
        width: 80%;
        margin: 15px 10% 0 10%;
        text-align: center;
        font-size: 13px;
    }

    .box-2 img {
        top: 155%;
        left: 15%;
        width: 70%;
    }
}


.box-3 {
    width: 90%;
    height: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.box-3 h2 {
    width: 300px;
    margin: 0 0 0 660px;
    padding-top: 120px; 
}

.box-3 #conversation-paragraph {
    width: 510px;
    margin: 15px 0 0 660px;
    color: var(--Grayish-Blue);
}

.box-3 img {
    position: absolute;
    top: 1250px;
    left: 13%;
    width: 32%;
}

@media (max-width: 375px) {
    .box-3 {
        width: 90%;
        height: 90vh;
        margin: 40px auto;
    }
    
    .box-3 h2 {
        width: 80%;
        margin: 0 10% 0 10%;
        padding-top: 300px;
        font-size: 22px;
        text-align: center;
    }
    
    .box-3 #conversation-paragraph {
        width: 80%;
        margin: 15px 10% 0 10%;
        text-align: center;
        font-size: 13px;
    }
    
    .box-3 img {
        top: 260%;
        left: 12%;
        width: 74%;
    }
}


.box-4 {
    width: 90%;
    height: 400px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.box-4 h2 {
    width: 300px;
    margin: 0 0 0 100px;
    padding-top: 140px;
}

.box-4 #users-paragraph {
    width: 475px;
    margin: 15px 0 0 100px;
    color: var(--Grayish-Blue);
}

.box-4 img {
    position: absolute;
    top: 1700px;
    left: 60%;
    width: 30%;
}

@media (max-width: 375px) {
    .box-4 {
        width: 90%;
        height: 90vh;
        margin: 40px auto;
    }
    
    .box-4 h2 {
        width: 80%;
        margin: 0 10% 0 10%;
        padding-top: 290px;
        font-size: 22px;
        text-align: center;
    }
    
    .box-4 #users-paragraph {
        width: 80%;
        margin: 10px 10% 0 10%;
        text-align: center;
        font-size: 13.5px;
    }
    
    .box-4 img {
        top: 350%;
        left: 12%;
        width: 74%;
    }
}


.box-5 {
    display: flex;
    position: absolute;
    top: 2200px;
    left: 25%;
    width: 50%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.box-5 p {
    font-size: 25px;
}

#link-3 {
    display: flex;
    height: 55px;
    width: 300px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--Pink);
}

#link-3:hover {
    cursor: pointer;
}

#link-3 a {
    font-size: 14px;
    color: white;
    text-decoration: none;    
}

@media (max-width: 375px) {
    .box-5 {
        top: 460%;
        left: 5%;
        width: 90%;
        height: 180px;
    }
    
    .box-5 p {
        font-size: 19px;
    }
    
    #link-3 {
        height: 40px;
        width: 200px;
        margin: 0;
    }
}


.box-6 {
    width: 100%;
    height: 60vh;
    margin: 250px auto 0 auto;
    color: white;
    background-color: var(--Very-Dark-Cyan);
}

@media (max-width: 375px) {
    .box-6 {
        margin: 250px auto 0 auto;
        height: 140vh;
    }
}

.information-area {
    display: grid;
    width: 420px;
    margin-left: 100px;
    padding-top: 120px;
    grid-template-columns: 30px 380px;
    grid-template-rows: 40px 80px 40px 40px;
    font-size: 14px;
}

#footer-logo {
    width: 170px;
    margin: 0 0 0 -10px;
    grid-column: 1/3;
    grid-row: 1/2;
}

#icon-location {
    margin: 15px 0 0 0;
    grid-column: 1/2;
    grid-row: 2/3;
}

#location-paragraph {
    margin: 10px 0 0 0;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: justify;
}

#phone-icon {
    margin: 0;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
}

#phone-paragraph {
    margin: 0;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
}

#email-icon {
    margin: 0;
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
}

#email-paragraph {
    margin: 0;
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
}

@media (max-width: 375px) {
    .information-area {
        width: 90%;
        margin-left: 5%;
        grid-template-columns: 30px 290px;
        grid-template-rows: 40px 110px 40px 40px;
        font-size: 15px;
    }
    
    #location-paragraph {
        text-align: left;
    }
}

.menu-area {
    display: flex;
    flex-direction: column;
    margin: -161px 0 0 590px;
    font-size: 14px;
}

.menu-area p {
    margin: 10px 0;
}

.menu-area a {
    color: white;
    text-decoration: none;
}

.menu-area a:hover {
    text-decoration: underline;
}

@media (max-width: 375px) {
    .menu-area {
        margin: 30px 0 0 5%;
    }   

    .menu-area p {
        margin: 6px 0;
    }
}

.contact-area {
    display: flex;
    flex-direction: column;
    margin: -124px 0 0 750px;
    font-size: 14px;
}

.contact-area p {
    margin: 10px 0;
}

.contact-area a:hover {
    text-decoration: underline;
}

.contact-area a {
    color: white;
    text-decoration: none;        
}

@media (max-width: 375px) {
    .contact-area {
        margin: 0 0 0 5%;
    }
    
    .contact-area p {
        margin: 6px 0;
    }      
}

.social-media-icons-area {
    display: flex;
    margin: -112px 0 0 970px;
    flex-direction: row;
}

.social-media-icons-area i {
    margin: 0 20px 0 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
}

.social-media-icons-area i:hover {
    cursor: pointer;
    color: var(--Pink);
    border: 1px solid var(--Pink);
}

#facebook-icon {
    padding: 10px 13px;
}

@media (max-width: 375px) {
    .social-media-icons-area {
        margin: 50px 0 0 28%;
    }    
}

.copy-right-paragraph {
    margin: 90px 0 0 970px;
    font-size: 14px; 
}

@media (max-width: 375px) {
    .copy-right-paragraph {
        width: 70%;
        margin: 20px 15% 0 15%;
        font-size: 11px;
    }
}