@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
	background-color: hsl(212, 45%, 89%);
}

.container{
	width: 275px;
	height: 435px;
	background-color: white;
	position: absolute;
	top: 50%;
	transform: translate(200%, -50%);
	box-shadow: 5px 10px 18px rgb(211, 211, 211);
	border-radius: 5%;
}

.box1{
	text-align: center;
	word-wrap: break-word;
	padding: 10px;
}

.box1 p, h2{
	font-family: Outfit;
	padding: 0px 20px;
}

#st{
	font-size: 20px;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}

#nd{
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	margin: 2px;
}

.box1 img{
	height: 250px;
	width: 250px;
	border-radius: 5%;
}