* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
	

	--violet: hsl(263, 55%, 52%);
	--dark-gray-blue: hsl(217, 19%, 35%);
	--dark-black-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);

	

	--light-gray: hsl(0, 0%, 81%);
	--light-gray-blue: hsl(210, 46%, 95%);
}

body{
	font-family:'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
	background-color: var(--light-gray-blue);
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-gap: 20px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". daniel daniel jonathan kira ."
    ". jeanette patrick patrick kira .";
}

.grid{
	box-shadow: 10px 10px 21px 8px rgba(74,74,74,0.18);
	-webkit-box-shadow: 10px 10px 21px 8px rgba(74,74,74,0.18);
	-moz-box-shadow: 10px 10px 21px 8px rgba(74,74,74,0.18);
}

.grid-1, .grid-2, .grid-5{
	color: var(--White);
}
.quotation{
	background: url(../../images/bg-pattern-quotation.svg);
	background-repeat: no-repeat;
	background-position: 75% 0%;
	background-blend-mode: lighten;
}

.grid-1 { 
	grid-area: daniel;
	background-color: var(--violet);
}

.grid-2 { 
	grid-area: jonathan; 
	background-color: var(--dark-gray-blue);

}

.grid-3 { 
	grid-area: kira; 
	background-color: var(--White);
}

.grid-4 { 
	grid-area: jeanette; 
	background-color: var(--White);
}

.grid-5 { 
	grid-area: patrick; 
	background-color: var(--dark-black-blue);
}

.profile{
	display: flex;
	align-items: center;
}

.avatar {
	border-radius: 50%;
	max-width:20%;
	height: auto;
}

.purple-border{
	background-color:#fff;
    border:3px solid var(--violet);    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8%;
    height: auto;
}

.white-border{
	background-color:#fff;
    border:3px solid hsla(0, 0%, 70%, 0.85);	
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8%;
    height: auto;
}

.profile p{
	padding-left: 20px;
	font-size: 13px;
}

span{
	font-size: 11px;
	opacity: 50%;
}

.padding{
	border-radius: 5px;
	padding: 15px 30px; 
}

.testimony{
	font-size: 2.5vh;
	line-height: 1.4;
}
.explanation{
	padding-bottom: 15px;
	opacity: 70%;
	line-height: 1.5;
}

.testimony, .explanation{
	padding-top: 10px;
	word-spacing: 1px;
}
.object{
	position: 20px;
}

